In [16]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.model_selection import train_test_split

In [19]:
diabetes_dataset=pd.read_csv('/content/diabetes.csv')

In [20]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [21]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [22]:
diabetes_dataset.shape

(768, 9)

In [26]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [28]:
X=diabetes_dataset.drop(columns='Outcome',axis=1)
Y=diabetes_dataset['Outcome']

In [32]:
scaler=StandardScaler()

In [36]:
standardized_data=scaler.fit(X)

In [38]:
standardized_data=scaler.transform(X)

In [39]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [40]:
X=standardized_data
Y=diabetes_dataset['Outcome']

In [41]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [42]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=1)

In [43]:
print(X.shape,X_train,X_test)

(768, 8) [[-2.50952128e-01  3.30087080e-03 -8.84314245e-01 ...  5.08618960e-01
  -1.04156736e+00 -7.01198424e-01]
 [ 1.23388019e+00  1.72464386e+00  1.08020025e+00 ...  2.16704696e-01
  -1.47270110e-02  2.10669743e+00]
 [-8.44885053e-01 -2.78373437e-01  5.63222752e-01 ...  3.56315866e-01
  -7.69756680e-01 -7.86286177e-01]
 ...
 [-5.47918591e-01  1.12999810e+00  2.53036252e-01 ...  9.40144394e-01
  -1.02042653e+00 -2.75759658e-01]
 [-1.14185152e+00  2.22380888e-01 -5.71502470e-02 ... -1.89436889e-01
   2.77586265e+00 -7.01198424e-01]
 [-8.44885053e-01  1.84983245e+00 -3.57259724e+00 ...  1.43512945e+00
  -5.73448966e-01  6.60205626e-01]] [[ 0.04601433 -0.68523633  0.14964075 ... -0.81134119 -0.53720754
  -0.44593516]
 [-0.84488505  0.69183807  0.25303625 ... -0.73518964 -0.65197205
  -1.04154944]
 [-0.84488505 -0.99820778  0.35643175 ... -0.10059342 -0.84525965
  -0.87137393]
 ...
 [-0.84488505 -0.46615631  0.04624525 ...  0.28016432 -0.99626558
  -0.95646168]
 [-0.25095213  1.56815814  0.14964075 ...  0.165937   -0.82411882
  -0.78628618]
 [-1.14185152  0.12848945  1.39038675 ... -1.20479085 -0.63385134
  -1.04154944]]

In [46]:
classifier=svm.SVC(kernel='linear')

In [47]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [48]:
X_train_accuracy=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_accuracy,Y_train)
print(training_data_accuracy)

0.7833876221498371

In [49]:
X_test_accuracy=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_accuracy,Y_test)
print(test_data_accuracy)

0.7792207792207793

In [51]:
input_data=(7,196,90,0,0,39.8,0.451,41)
input_data_as_np_array=np.asarray(input_data)
input_data_reshaped=input_data_as_np_array.reshape(1,-1)
prediction=classifier.predict(input_data_reshaped)
print(prediction)

[1]